.course-container {
  display: inline-block;
  width: 200px;
  height: auto;
  background-color: #fefdf9;
  margin: 0 10px 10px 0;
  text-align: center;
  padding-bottom: 20px;
}

.course-container .title {
  font-weight: bold;
}

.course-container .summary {
  color: #999;
  margin: 0;
}

.course-container figure {
  display: inline-block;
  padding: 5px 5px 1px 5px;
  border: 1px solid #ccc;
  background: white;
}
